.header {
    background: linear-gradient(rgba(27, 20, 100, 0.575), rgba(27, 20, 100, 0.514)), url('../../Assets/img/background/hero-bg.jpg');
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    padding: 20px 0;
    position: fixed;
    width: 80%;
    top: 0;
}

.logo a {
    font-size: 210%;
    color: #fff;
    text-decoration: none;
}

.flex_one {
    flex: 1;
}

.navigations ul {
    margin-top: 15px;
    display: inline-flex;
    list-style: none;
    
}

.navigations li {
    padding: 0 15px;
}

.navigations a {
    color: #fff;
    text-decoration: none;
    font-size: 105%;
}

.navigations a:hover {
    color: #a3a3a3;
    transition: .3s;
}
.nav_separator {
    margin-left: 70px;
    display: inline-flex;
    padding: 0;
}

.nav_separator a {
    color: #fff;
}

.nav_separator a:hover {
    color:#050472;
}

.nav_btn:hover {
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 8px 35px;
    background-color: #fff;
}


.button {
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    display: none;
}

.button i {
    font-size: 230%;
    color: #fff;
}

/* ---------   MEDIA QUERY -----------*/

@media (max-width: 1024px) {
    .navigations {
        display: none;
    }

    .button {
        display: block;
    }
}

@media (max-width: 414px) {
    .header {
        height: 100vh;
    }

    .navbar {
        width: 95%;
    }

    .container {
        width: 95%;
    }
}


